.bodyText{
   color:#000000DE;
   font-size: 0.8rem;
}
.blue-header{
    background-color: #28abe2 !important;
}
.green-header{
    background-color: #49a997 !important; 
}
.card-header{
    color:whitesmoke !important;
    font-size: 0.8rem !important;
}
.card-title{
    font-size: 0.8rem !important;
}
.card-footer{
    text-align: center !important;
    background-color: #ffffff00 !important;
    border: none !important;
}
.card-button{
    font-size: 0.8rem !important;
    font-weight: bold !important;
}